/* $color-text: #dedce5; */
/* Sakura.css v1.5.0
 * ================
 * Minimal css theme.
 * Project: https://github.com/oxalorg/sakura/
 */
/* Body */
html {
  font-size: 50%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
}

body {
  font-size: 2rem;
  line-height: 1.35;
  max-width: 90rem;
  margin: auto;
  color: #d9d8dc;
  background-color: #120c0e;
  padding: 30px;
  padding-top: 75px;
}
.parent {
  overflow: hidden;
}

@media (max-width: 684px) {
  body {
    font-size: 1.53rem;
  }
}
@media (max-width: 382px) {
  body {
    font-size: 1.35rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  font-weight: 700;
  margin-top: 3rem;
  margin-bottom: 2rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
}

h1 {
  font-size: 2em;
}

small,
sub,
sup {
  font-size: 75%;
}

hr {
  border-color: #eb99a1;
}

a {
  text-decoration: none;
  color: #eb99a1;
}
u {
  color: #eb99a1;
}
.nav {
  font-size: 15px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.left {
  float: left;
  margin: 1em;
  margin-left: 0;
  text-align: left;
}
ul {
  font-size: 2rem;
}
.right {
  float: right;
  margin: 1em;
  margin-right: 0;
  text-align: right;
}
.thin-hd {
  font-weight: lighter;
  font-size: 40px;
}
p {
  margin: 1rex;
  margin-top: 12px;
  margin-bottom: 12px;
  line-height: 1.6;
  font-size: 2rem;
}
.main {
  margin-top: 1.5em;
}
img,
video {
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
